<div class='card'>
  <div class='card-header flex-row justify-space-between p-2'>
    <h3></h3>
    <p>Commented by {{user.name}} on {{format_date createdAt}}</p>
  </div>
  <div class='card-body p-2'>
    <p>{{comment_content}}</p>
  </div>
</div>
