<div class='p-4'>
  {{!-- Loads a card for each post in the database --}}
  {{#each posts as |post|}}
  {{> post-cards}}
  {{else}}
  <div class='card'>
    <p class='text-center'>There are currently no posts. Be the first one!</p>
  </div>
  {{/each}}
</div>
