<div class="p-4">
  {{!-- TODO: This card to only be shown when logged in --}}
  <div class="card">
    <div class="card-header">
      <h3>Got something to post? Post it here!</h3>
    </div>
    <div class="card-body">
      {{!-- TODO: Action should be the / path for where data will be  --}}
      <form action="/">
        <label for="title">Title:</label>
        <textarea name="title" rows="1" class="form-input"></textarea>
        <label for="post">Content:</label>
        <textarea name="post" rows="3" class="form-input"></textarea>
        <input type="submit" class="w-100">
      </form>
    </div>
  </div>

  {{!-- TODO: Add conditional to only load if there are any posts --}}
  {{#each posts as |post|}}
  {{> post-cards}}
  {{/each}}
</div>
