<div class='p-4'>
  <div class='card'>
    <div class='card-header flex-row justify-space-between p-2'>
      <h3>{{title}}</h3>
      <p>Posted on {{format_date createdAt}}</p>
    </div>
    <div class='card-body p-2'>
      <p>{{post_content}}</p>
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class='card'>
    <div class='card-header'>
      <h5>Comment:</h5>
    </div>
    <div class='card-body'>
      <form>
        <textarea id='post_content' rows='3' class='form-input'></textarea>
        <input type='submit' class='w-100' />
      </form>
    </div>
  </div>
</div>
